.root {
  $this: &;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  &_mobile {
    opacity: 0;
  }

  &_current-month {
    opacity: 1;
  }

  &__value {
    #{$this}_today & {
      border-radius: 50%;
      background-color: var(--g-color-text-danger);
      padding: 4px;
    }
  }
}
